<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Sun Certified Professional Java Software Engineer. Bachelor Degree in Computer Science achieved at University of Perugia (ITALY). 
           More than 10 years of experience in major national IT companies such as Almaviva S.p.A., Engineering S.p.A., Leonardo S.p.A. in their Rome Headquarters.
           Deep experience in Software Analysis and Design. Deep knowledge of Spring Stack Technology, Spring 5, SpringBoot 2.x, Hibernate 5,
           JPA 2.2, SpringWEB, SpringSecurity, IoC. <br> Knowledge of Major Application Server such as JBoss 7 - 7.1 - 7.2, Tomcat 8; of Oracle 11
           - 12, PostgreSQL 10 - DB2 DBMS and related query tool (PGAdmin, SQLDeveloper, Toad). Also good knowledge of front-end technologies such as 
           HTML5, CSS3, Javascript, JQuery, Thymeleaf 3, Angular 7 - 11.
      </div>
    </div>

    <div class="col-lg-8">
      <iframe style="border:0; width: 100%; height: 270px;" src="https://maps.google.com/maps?q=Via%20margherita%20Lazi%2039&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
      <div class="info mt-4">
        <i class="icofont-google-map"></i>
        <h4>Location:</h4>
        <p>39, Via Margherita Lazi, Perugia (PG), 06135, ITALY</p>
      </div>
      <div class="row margsx">
        <div class="col-lg-6 mt-4">
          <div class="info">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>c.giacomo@hotmail.it</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info w-100 mt-4">
            <i class="icofont-phone"></i>
            <h4>Call:</h4>
            <p>0039 345 42 17 660</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="d-md-flex py-4 fixed-bottom">
    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>Bootstrap</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by G.Chiavolotti.
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://join.skype.com/invite/mm6Vnf9zgwcE" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="https://www.linkedin.com/in/giacomo-chiavolotti" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
