:host {
    width: 100%;
    margin-top: 60px;
}

.empty-message, .loader {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

.filter {
    width: 100%;
    height: 40px;
    background-color: white;
    padding-top: 8px;
    text-align: center;
}

.country-select {
    float: left;
    width: 45%;
    text-align: right;
}

.city-select {
    float: right;
    width: 45%;
    text-align: left;
}

.form-select.form-select-sm {
    font-family: inherit;
    font-size: 12px;
    height: 25px;
    min-width: 200px;
    padding: 0 0 0 15px;
    /* margin-right: 60px; */
    border: 1px solid #ebe6e6;
    border-radius: 20px;
}

table thead {
    font-size: 12px;
    /* background-color: white;   FOR FIXED THEAD */
}

table tbody {
    font-size: 11px;
}

.row.pb-5 {
    margin-right: 0;
    margin-left: 0;
}

/* BEST SOLUTION FOR FIXED THEAD 
table.table.table-striped {
    display: table;
    table-layout: fixed;
    margin-top: 40px;
    min-width: 650px;
}

table.table.table-striped thead {
    position: fixed;
    display: table;
    table-layout: fixed;
    left: 0;
    right: 0;
    top: 60px;
    width: 100%;
} */